* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unica One', sans-serif;
  color: #111;
  z-index: 1;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("Images/Banner(1).png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  position: absolute;
}

#btnFS {
  background-color: rgb(223, 223, 223);
  border: 0;
  border-radius: 50%;
  position: fixed;
  width: 5vw;
  height: 5vw;
  margin: 0 1vw 1vw 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s;
  z-index: 999;
}

#btnFS img {
  width: 80%;
  height: 80%;
}

#btnFS:hover {
  transform: scale(1.2);
}

#subsection1,
#subsection2,
#subsection3,
#subsection4 {
  display: none;
}

#subsection1.canShowSection,
#subsection2.canShowSection,
#subsection3.canShowSection {
  display: block;
}

#subsection4.canShowSection {
  display: flex;
}

.parallax {
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax.subTopic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax h1 {
  position: absolute;
  color: white;
}

#sub1 {
  background-image: url("Images/actionfiguresbg.jpg");
}

#sub2 {
  background-image: url("Images/creepyFigurine.jpg");
}

#sub3 {
  background-image: url("Images/minigame.png");
}

#prehistoryTimes {
  background-image: url("Images/prehistory.png");
}

#ironAge {
  background-image: url("Images/ironage.png");
  z-index: -1;
}

#modernEra {
  background-image: url("Images/starwarsaction.png");
  z-index: -1;
}

.historyLayout {
  margin: 0 11vw;
}

.historyLayout article {
  flex: 4;
  margin-left: 50px;
}

.historyImage {
  display: grid;
  grid-template-columns: 11vw 11vw 11vw;
  grid-template-rows: 20vh 20vh;
  column-gap: 50px;
  row-gap: 80px;
}

.historyImage figure:nth-of-type(1) {
  grid-column: 2/span 2;
  grid-row: 1/span 2;
  width: 25vw;
  height: 25vw;
}

.historyImage figure:nth-of-type(1) img {
  width: 21vw;
  height: 21vw;
}

.historyImage figure:nth-of-type(2) {
  grid-column: 1;
  grid-row: 2;
  width: 11vw;
  height: 11vw;
}

.historyImage figure:nth-of-type(3) {
  grid-column: 1;
  grid-row: 1;
  width: 11vw;
  height: 11vw;
}

.historyImage figure:nth-of-type(2) img,
.historyImage figure:nth-of-type(3) img {
  width: 11vw;
  height: 11vw;
}

.historyLayout:nth-of-type(2),
.historyLayout:nth-of-type(3) {
  clip-path: inset(100% 0 0 0);
}

.historyLayout figure img {
  border-radius: 5%;
}

figure {
  break-inside: avoid;
  page-break-inside: avoid;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
}

figcaption {
  margin-top: 0.5rem;
  font-size: 0.5rem;
  color: #333;
  text-align: center;
  width: 100%;
}

figure figcaption a {
  font-size: inherit;
  text-decoration: underline;
  color: inherit;
}

#topBar {
  display: none;
}

#fakeMenu {
  position: fixed;
  overflow: hidden;
  align-content: flex-start;
  width: 100%;
  height: 70px;
  background-color: transparent;
  z-index: 999;
}

ul {
  list-style: none;
  /* Removes bullet points */
  padding: 0;
  /* Removes default padding */
  margin: 0;
  /* Removes default margin */
  display: flex;
  /* Makes the list horizontal */
  align-items: center;
}

#fakeMenu li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  opacity: 0;
}

#topMenu {
  position: fixed;
  overflow: hidden;
  align-content: flex-start;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 997;
}

#topMenu li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}

#topMenu li a {
  text-decoration: none;
}

#hamburger,
#hamburgerMenu {
  display: none;
}

#Home>img {
  display: none;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
}

#banner {
  width: 100%;
  align-content: center;
  position: fixed;
  z-index: 998;
}

#bannerDrawing {
  position: relative;
  width: 300px;
  height: 150px;
  animation: mymove 5s infinite;
}

#logo,
#logoleft,
#logoright {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

#logoleft {
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: logoLeftRot 2s 0.4s forwards;
}

#logoright {
  left: 150px;
  transform: rotate(-45deg);
  transform-origin: 0% 100%;
  animation: logoRightRot 2s 0.4s forwards;
}

.bannerText {
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin: 05rem 25rem 10rem;
  flex: 100%;
  height: 100px;
}

@keyframes logoLeftRot {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes logoRightRot {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in.visible {
  animation: fade 1.2s 0.2s both;
}

.fade-in.not-visible {
  opacity: 0;
}

.empty {
  height: 0;
}

@keyframes backgroundMover {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.wcontainer {
  display: flex;
  justify-content: center;
  position: relative;
}

#sub2Container {
  background-image: linear-gradient(144deg, #ff4089, #f3d842 50%, #00DDEB);
  background-size: 300%;
  animation: backgroundMover 7s infinite alternate;
  z-index: 996;
  margin: 40px auto;
  padding: 30px;
  height: auto;
  min-height: 250px;
  max-width: 75vw;
  align-content: flex-start;
  border: 0;
  border-radius: 10px;
}

#sub2Container>div:nth-of-type(2) {
  border: 0;
  border-radius: 10px;
  margin-top: 20px;
}

.sub2Buttons {
  height: auto;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

.sub2Btn>img {
  display: none;
}

.sub2Btn>span {
  display: block;
  font-size: 20px;
  color: #FFFFFF;
}

.sub2Btn {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  background-size: 300%;
  background-position: left;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  min-width: 33%;
  touch-action: manipulation;
  cursor: pointer;
  transition: background-position 1s, transform 0.2s;
}

.sub2Btn:hover,
.sub2Btn:focus {
  background-position: right;
  transform: translateY(-5px);
}

.sub2Btn.active {
  animation: clicked 0.2s forwards;
  background-position: right;
  background-image: linear-gradient(144deg, #40f9ff, #d3f342 50%, #eb4300);
  transform: translateY(0);
}

@keyframes clicked {
  0% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.sub2Content {
  display: none;
}

.sub2Content>article:nth-of-type(1) {
  display: block;
}

.sub2Content>article:nth-of-type(2) {
  display: none;
}

.sub2Content.sub2Show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 0;
  border-radius: 10px;
  background-color: rgb(136, 231, 136);
  padding: 100px 30px;
  max-height: 330px;
}

.sub2Content.sub2Show h2 {
  text-align: center;
}

.sub2Content.sub2Show p {
  margin: 15px 0 25px 0;
}

.sub2Content.sub2Show button {
  background-image: linear-gradient(144deg, #1F57DB, #d642f3 50%, #eb4300);
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  padding: 10px 50px;
  touch-action: manipulation;
  cursor: pointer;
  transition: background-position 1s, transform 0.2s;
}

.sub2Overlay {
  display: none;
}

.sub2Overlay.sub2Show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.imageGalleryOverlay {
  width: 50vw;
  height: 93vh;
  background-color: white;
  border: 0;
  border-radius: 10px;
  animation: fade 1s both;
  display: flex;

  justify-content: center;
  align-items: center;
}

.imageGalleryGrid {
  width: 90%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

.imageGalleryOverlay figure {
  max-width: 400px;
}

.imageGalleryOverlay figure img {
  width: 100%;
  height: 80%;
}

.exitBtn {
  position: absolute;
  top: 1%;
  right: 1%;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 3px;
  padding: 5px 10px;
  background-color: lightgrey;
  transition: transform 0.2s;
  cursor: pointer;
}

.exitBtn:active {
  background-color: grey;
  transform: translateY(2px);
}

.gameContainer {
  padding: 100px 0 0;
  height: auto;
  width: 100%;
}

.gameContainer>h2 {
  text-align: center;
  flex: 100%;
}


#gameSpace {
  width: 50vw;
  height: 89vh;
  position: relative;
  background-color: rgb(192, 225, 255);
}

#gameDifficulty {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 0 0;
  background-color: rgb(192, 225, 255);
  margin: 0 1px;
}

#gameDifficulty fieldset {
  width: 50%;
}

#gameScreen {
  position: relative;
  width: 90%;
  height: 60%;
  margin-top: 5px;
  background-color: rgb(164, 211, 255);
  z-index: 998;
}

#gameCover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(53, 53, 53, 0.514);
}

#startButton {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  background-size: 300%;
  background-position: left;
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 25px 0;
  min-width: 33%;
  touch-action: manipulation;
  cursor: pointer;
  transition: background-position 1s, transform 0.2s;
}

#startButton:hover,
#startButton:focus {
  background-position: right;
  transform: translateY(-5px);
}

#startButton.started {
  animation: clicked 0.2s forwards;
  background-position: right;
  background-image: linear-gradient(144deg, #40f9ff, #d3f342 50%, #eb4300);
  transform: translateY(0);
}

#buttonPanel {
  width: 90%;
  height: 30%;
  margin-top: 5px;
  background-color: rgb(165, 164, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

.buttons1,
.buttons2,
.buttons3 {
  width: 9vw;
  height: 9vw;
}

.buttons1 img,
.buttons2 img,
.buttons3 img {
  width: 100%;
  height: 100%;
}

#claw {
  position: absolute;
  background-image: url('Images/claw.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* optional, ensures image fits */
  background-color: rgb(245, 140, 140);
  /* size of one frame */
  width: 8.6vw;
  height: 15.5vh;
  /* size of the whole sheet */
  background-size: 480px 150px;
}

.pit {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
}

.pit img {
  width: 100%;
  height: 100%;
}

#pitFloor {
  position: absolute;
  width: 70%;
  height: 60%;
}

#pitPillar {
  position: absolute;
  width: 4%;
  height: 92%;
}

.floor {
  background-color: rgb(245, 169, 169);
  position: absolute;
  width: 100%;
  height: 50px;
}

.Objects {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.clawActivate {
  animation: fullClaw 1s steps(3, jump-none) forwards;
}

.clawUnactive {
  animation: fullClaw 1s steps(3, jump-none) reverse both;
}

.clawGrip {
  animation: secondHalfClaw steps(2, jump-none) forwards;
}

.clawOpen {
  animation: secondHalfClaw steps(2, jump-none) reverse both;
}

@keyframes fullClaw {
  from {
    /* first frame */
    background-position: 0px 0px;
  }

  to {
    /* last frame */
    background-position: -320px 0px;
  }
}

@keyframes firstHalfClaw {
  from {
    /* first frame */
    background-position: -160px 0px;
  }

  to {
    /* last frame */
    background-position: 0px 0px;
  }
}

@keyframes secondHalfClaw {
  from {
    /* first frame */
    background-position: -320px 0px;
  }

  to {
    /* last frame */
    background-position: -160px 0px;
  }
}

.itemOverlay {
  display: none;
}

.itemOverlay.shown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.itemContent {
  width: 50vw;
  height: 93vh;
  background-color: white;
  border: 0;
  border-radius: 10px;
  animation: fade 1s both;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  top: 1%;
  right: 1%;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 2px 3px;
  padding: 5px 10px;
  background-color: lightgrey;
  transition: transform 0.2s;
  cursor: pointer;
}

.closeBtn:active {
  background-color: grey;
  transform: translateY(2px);
}

.victory {
  display: none;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer h2 {
  width: 49%;
  color: white;
  text-align: center;
}

.footer img {
  width: 50%;
  height: 100%;
}

.footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
}

@media (max-width: 800px) {

  #btnFS {
    display: none;
  }

  p,
  body,
  a {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 1rem;
  }

  #topMenu,
  #fakeMenu {
    display: none;
  }

  #topBar {
    display: block;
    position: fixed;
    overflow: hidden;
    align-content: flex-start;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 997;
  }

  header {
    width: 100%;
    height: 100vh;
    background-image: url("Images/Banner(1).png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax h1 {
    position: absolute;
    color: white;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    position: absolute;
  }

  .parallax {
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .parallax.subTopic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .historyLayout {
    margin: 0 10vw;
    width: 80vw;
    align-content: center;
  }

  .historyLayout article {
    flex: 4;
    margin: 0;
    margin-top: 40px;
    width: 100%;
    text-align: justify;
  }

  .historyImage {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 100%;
    width: 100%;
  }

  .historyImage figure:nth-of-type(1) {
    width: 50vw;
    height: 50vw;
  }

  .historyImage figure:nth-of-type(1) img {
    width: 50vw;
    height: 50vw;
  }

  .historyImage figure:nth-of-type(2) {
    display: none;
  }

  .historyImage figure:nth-of-type(3) {
    display: none;
  }

  .historyLayout:nth-of-type(2),
  .historyLayout:nth-of-type(3) {
    clip-path: inset(100% 0 0 0);
  }

  .historyLayout figure img {
    border-radius: 5%;
  }

  figure {
    break-inside: avoid;
    page-break-inside: avoid;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 0.5rem;
    color: #333;
    text-align: center;
  }

  figure figcaption a {
    font-size: inherit;
    text-decoration: underline;
    color: inherit;
  }

  #fakeMenu {
    position: fixed;
    overflow: hidden;
    align-content: flex-start;
    width: 100%;
    height: 70px;
    background-color: transparent;
    z-index: 999;
  }

  #fakeMenu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    opacity: 0;
  }

  #topMenu {
    position: fixed;
    overflow: hidden;
    align-content: flex-start;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 997;
  }

  #topMenu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
  }

  #topMenu li a {
    text-decoration: none;
  }


  #hamburger {
    display: block;
    position: fixed;
    z-index: 999;
  }

  #hamburger>div {
    position: relative;
    padding: 5px;
    width: 70px;
    height: 70px;
  }

  .hamburgerBar {
    width: 70%;
    height: 4px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s, opacity 0.8s, top 0.6s;
  }

  #hamburger>div div:nth-of-type(1) {
    top: 25%;
  }

  #hamburger>div div:nth-of-type(3) {
    top: 75%;
  }

  #hamburger>div.active div:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
  }

  #hamburger>div.active div:nth-of-type(2) {
    opacity: 0%;
  }

  #hamburger>div.active div:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
  }

  #hamburgerMenu {
    display: block;
    position: fixed;
    top: 0;
    left: -75%;
    background-color: rgb(226, 226, 226);
    height: 100vh;
    width: 35%;
    transition: left .5s;
    z-index: 998;
  }

  #hamburgerMenu ul {
    list-style: none;
    /* Removes bullet points */
    padding: 0;
    /* Removes default padding */
    margin: 0;
    display: block;
  }

  #hamburgerMenu.active {
    left: 0;
  }

  #hamburgerMenu nav {
    margin: 80px 0 0 0;
  }



  #hamburgerMenu li {
    list-style-type: none;
    display: block;
    margin: 0 10px 0 10px;
  }

  #hamburgerMenu li.active {
    animation: Menuclicked 0.2s forwards;
  }

  #hamburgerMenu nav li a::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: black;
    margin-right: 10px;
    vertical-align: middle;
  }

  #hamburgerMenu li a {
    text-decoration: none;
  }

  @keyframes Menuclicked {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.2);
    }

    75% {
      transform: scale(0.8);
    }

    100% {
      transform: scale(1);
    }
  }

  #Home>img {
    display: none;
    position: fixed;
    z-index: 999;
    top: 16px;
  }

  #banner {
    width: 100%;
    align-content: center;
    position: fixed;
    z-index: 998;
  }

  #bannerDrawing {
    position: relative;
    width: 300px;
    height: 150px;
    animation: mymove 5s infinite;
  }

  #logo,
  #logoleft,
  #logoright {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  #logoleft {
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    animation: logoLeftRot 2s 0.4s forwards;
  }

  #logoright {
    left: 150px;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    animation: logoRightRot 2s 0.4s forwards;
  }

  .bannerText {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 05rem 0rem 10rem;
    flex: 100%;
    width: 50%;
    height: 100px;
  }

  #sub2Container {
    background-image: linear-gradient(144deg, #ff4089, #f3d842 50%, #00DDEB);
    background-size: 300%;
    animation: backgroundMover 7s infinite alternate;
    z-index: 996;
    margin: 40px 0;
    padding: 0;
    height: auto;
    min-height: 250px;
    align-content: flex-start;
    flex-direction: row;
    border: 0;
    flex-wrap: nowrap;
    border-radius: 10px;
    max-width: 90vw;
  }

  #sub2Container>div:nth-of-type(2) {
    border: 0;
    border-radius: 10px;
    margin: 35px 10px;
  }

  .sub2Buttons {
    height: auto;
    min-width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
  }

  .sub2Btn>img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .sub2Btn>span {
    display: none;
  }

  .sub2Btn:nth-of-type(1) {
    display: block;
  }

  .sub2Btn {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    background-size: 300%;
    background-position: left;
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 25px 0px;
    margin: 40px 0 40px 10px;
    touch-action: manipulation;
    cursor: pointer;
    transition: background-position 1s, transform 0.2s;
  }

  .sub2Btn:hover,
  .sub2Btn:focus {
    background-position: right;
    transform: translateY(-5px);
  }

  .sub2Btn.active {
    animation: clicked 0.2s forwards;
    background-position: right;
    background-image: linear-gradient(144deg, #40f9ff, #d3f342 50%, #eb4300);
    transform: translateY(0);
  }

  @keyframes clicked {
    0% {
      transform: translateY(-5px);
    }

    75% {
      transform: translateY(5px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  .sub2Content {
    display: none;
  }

  .sub2Content>article:nth-of-type(1) {
    display: none;
  }

  .sub2Content>article:nth-of-type(2) {
    display: block;
  }

  .sub2Content.sub2Show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border: 0;
    border-radius: 10px;
    background-color: rgb(136, 231, 136);
    padding: 25px 20%;
    min-height: 500px;
    max-height: 2000px;
    height: 100%;
  }

  .sub2Content.sub2Show p {
    margin: 15px 0 25px 0;
  }

  .sub2Content.sub2Show button {
    background-image: linear-gradient(144deg, #1F57DB, #d642f3 50%, #eb4300);
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    font-size: 20px;
    padding: 10px 50px;
    touch-action: manipulation;
    cursor: pointer;
    transition: background-position 1s, transform 0.2s;
  }

  .sub2Overlay {
    display: none;
  }

  .sub2Overlay.sub2Show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .imageGalleryOverlay {
    width: 60vw;
    height: 93vh;
    background-color: white;
    border: 0;
    border-radius: 10px;
    animation: fade 1s both;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .imageGalleryGrid {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    row-gap: 15px;
    column-gap: 15px;
  }

  .imageGalleryGrid figure:nth-of-type(1),
  .imageGalleryGrid figure:nth-of-type(2) {
    display: none;
  }

  .imageGalleryGrid figure {
    max-width: 100%;
    width: 100%;
  }

  .imageGalleryGrid figure img {
    width: 100%;
    height: 40vw;
  }

  .exitBtn {
    position: absolute;
    top: 1%;
    right: 1%;
    border: 0;
    border-radius: 50%;
    box-shadow: 0px 2px 3px;
    padding: 5px 10px;
    background-color: lightgrey;
    transition: transform 0.2s;
    cursor: pointer;
  }

  .exitBtn:active {
    background-color: grey;
    transform: translateY(2px);
  }

  #gameSpace {
    width: 90vw;
    height: 89vh;
    position: relative;
    background-color: rgb(192, 225, 255);
  }

  #gameDifficulty {
    width: 90vw;
  }

  .buttons1,
  .buttons2,
  .buttons3 {
    width: 16vw;
    height: 16vw;
  }

}